
*.iml
builds/arithmetic_with_ast/.idea/workspace.xml
builds/arithmetic_with_ast/.idea/vcs.xml
builds/arithmetic_with_ast/.idea/modules.xml
builds/arithmetic_with_ast/.idea/misc.xml
builds/arithmetic_with_ast/.idea/encodings.xml
builds/arithmetic_with_ast/.idea/dictionaries/Blake.xml
.DS_Store
*.class
K_Means/.idea/vcs.xml
K_Means/.idea/workspace.xml
K_Means/.idea/modules.xml
K_Means/.idea/encodings.xml
.DS_Store
